// stylelint-disable scss/dollar-variable-default
//
// Property utilities
//
// The variables are suffixed with `-default` and later merged if a custom configuration is used. In your custom config
// you'll need to remove the `-default` suffix
// The utility variables accept the following options:
// - property
//   Obviously just the name of the property. This can be a string or an array of strings (needed for eg horizontal
//   paddings or margins).
// - responsive (optional)
//   Boolean indicating if responsive classes need to be generated. `false` by default.
// - property-class (optional)
//   Variable to change the class name if you don't want it to be the same as the property.
// - values
//   This can be a list of values or a map if you don't want the class name to be the same as the value. If null is used
//   as map key, it isn't rendered.
// - print (optional)
//   Boolean indicating if print classes need to be generated.
// - enabled (optional)
//   Boolean for quickly disabling the generation of utility classes if the value is set to `false`.

$align-utilities-default: (
  responsive: true,
  property: vertical-align,
  property-class: align,
  values: baseline top middle bottom text-bottom text-top
);

$float-utilities-default: (
  property: float,
  values: left right none
);

$overflow-utilities-default: (
  property: overflow,
  values: auto hidden,
);

$display-utilities-default: (
  responsive: true,
  print: true,
  property: display,
  property-class: d,
  values: none inline inline-block block table table-row table-cell flex inline-flex
);

$order-utilities-default: (
  responsive: true,
  property: order,
  values: (
    first: -1,
    0: 0,
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    6: 6,
    7: 7,
    8: 8,
    9: 9,
    10: 10,
    11: 11,
    12: 12,
    last: 13,
  ),
);

$shadow-utilities-default: (
  property: box-shadow,
  property-class: shadow,
  values: (
    sm: $box-shadow-sm,
    null: $box-shadow,
    lg: $box-shadow-lg,
    none: none,
  )
);

$position-utilities-default: (
  property: position,
  values: static relative absolute fixed sticky
);

$border-color-utilities-default: (
  property: border-color,
  property-class: border,
  values: map_merge($theme-colors, (white: $white))
);

$visibility-utilities-default: (
  property: visibility,
  values: visible hidden
);


// Sizing utilities

$width-utilities-default: (
  property: width,
  property-class: w,
  values: (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  )
);

$height-utilities-default: (
  property: height,
  property-class: h,
  values: (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  )
);


// Flex utilities

$flex-utilities-default: (
  responsive: true,
  property: flex,
  values: (fill: 1 1 auto)
);

$flex-direction-utilities-default: (
  responsive: true,
  property: flex-direction,
  property-class: flex,
  values: row column row-reverse column-reverse
);

$flex-grow-utilities-default: (
  responsive: true,
  property: flex-grow,
  values: 0 1
);

$flex-shrink-utilities-default: (
  responsive: true,
  property: flex-shrink,
  values: 0 1
);

$flex-wrap-utilities-default: (
  responsive: true,
  property: flex-wrap,
  property-class: flex,
  values: wrap nowrap wrap-reverse
);

$justify-content-utilities-default: (
  responsive: true,
  property: justify-content,
  values: flex-start flex-end center space-between space-around
);

$align-items-utilities-default: (
  responsive: true,
  property: align-items,
  values: flex-start flex-end center baseline stretch
);

$align-content-utilities-default: (
  responsive: true,
  property: align-content,
  values: flex-start flex-end center space-between space-around stretch
);

$align-self-utilities-default: (
  responsive: true,
  property: align-self,
  values: auto flex-start flex-end center baseline stretch
);


// Margin utilities

$margin-utilities-default: (
  responsive: true,
  property: margin,
  property-class: m,
  values: map_merge($spacers, (auto: auto))
);

$margin-x-utilities-default: (
  responsive: true,
  property: margin-right margin-right,
  property-class: mx,
  values: map_merge($spacers, (auto: auto))
);

$margin-y-utilities-default: (
  responsive: true,
  property: margin-top margin-bottom,
  property-class: my,
  values: map_merge($spacers, (auto: auto))
);

$margin-top-utilities-default: (
  responsive: true,
  property: margin-top,
  property-class: mt,
  values: map_merge($spacers, (auto: auto))
);

$margin-right-utilities-default: (
  responsive: true,
  property: margin-right,
  property-class: mr,
  values: map_merge($spacers, (auto: auto))
);

$margin-bottom-utilities-default: (
  responsive: true,
  property: margin-bottom,
  property-class: mb,
  values: map_merge($spacers, (auto: auto))
);

$margin-left-utilities-default: (
  responsive: true,
  property: margin-left,
  property-class: ml,
  values: map_merge($spacers, (auto: auto))
);


// Negative margin utilities

$negative-margin-utilities-default: (
  responsive: true,
  property: margin,
  property-class: m,
  values: $negative-spacers
);

$negative-margin-x-utilities-default: (
  responsive: true,
  property: margin-right margin-right,
  property-class: mx,
  values: $negative-spacers
);

$negative-margin-y-utilities-default: (
  responsive: true,
  property: margin-top margin-bottom,
  property-class: my,
  values: $negative-spacers
);

$negative-margin-top-utilities-default: (
  responsive: true,
  property: margin-top,
  property-class: mt,
  values: $negative-spacers
);

$negative-margin-right-utilities-default: (
  responsive: true,
  property: margin-right,
  property-class: mr,
  values: $negative-spacers
);

$negative-margin-bottom-utilities-default: (
  responsive: true,
  property: margin-bottom,
  property-class: mb,
  values: $negative-spacers
);

$negative-margin-left-utilities-default: (
  responsive: true,
  property: margin-left,
  property-class: ml,
  values: $negative-spacers
);


// Padding utilities

$padding-utilities-default: (
  responsive: true,
  property: padding,
  property-class: p,
  values: $spacers
);

$padding-x-utilities-default: (
  responsive: true,
  property: padding-right padding-right,
  property-class: px,
  values: $spacers
);

$padding-y-utilities-default: (
  responsive: true,
  property: padding-top padding-bottom,
  property-class: py,
  values: $spacers
);

$padding-top-utilities-default: (
  responsive: true,
  property: padding-top,
  property-class: pt,
  values: $spacers
);

$padding-right-utilities-default: (
  responsive: true,
  property: padding-right,
  property-class: pr,
  values: $spacers
);

$padding-bottom-utilities-default: (
  responsive: true,
  property: padding-bottom,
  property-class: pb,
  values: $spacers
);

$padding-left-utilities-default: (
  responsive: true,
  property: padding-left,
  property-class: pl,
  values: $spacers
);


// Text

$font-weight-utilities-default: (
  property: font-weight,
  values: (
    light: $font-weight-light,
    lighter: $font-weight-lighter,
    normal: $font-weight-normal,
    bold: $font-weight-bold,
    bolder: $font-weight-bolder
  )
);

$text-transform-utilities-default: (
  property: text-transform,
  property-class: text,
  values: lowercase uppercase capitalize
);

$text-align-utilities-default: (
  responsive: true,
  property: text-align,
  property-class: text,
  values: left right center justify
);

$color-utilities-default: (
  property: color,
  property-class: text,
  values: (
    white: $white,
    body: $body-color,
    muted: $text-muted,
    black-50: rgba($black, .5),
    white-50: rgba($white, .5),
    reset: inherit,
  )
);

// Merge the default configurations with optional custom configurations
$float-utilities: map_merge($float-utilities-default, if(variable-exists(float-utilities), $float-utilities, ()));
$display-utilities: map_merge($display-utilities-default, if(variable-exists(display-utilities), $display-utilities, ()));
$border-color-utilities: map_merge($border-color-utilities-default, if(variable-exists(border-color-utilities), $border-color-utilities, ()));
$order-utilities: map_merge($order-utilities-default, if(variable-exists(order-utilities), $order-utilities, ()));
$position-utilities: map_merge($position-utilities-default, if(variable-exists(position-utilities), $position-utilities, ()));
$overflow-utilities: map_merge($overflow-utilities-default, if(variable-exists(overflow-utilities), $overflow-utilities, ()));
$shadow-utilities: map_merge($shadow-utilities-default, if(variable-exists(shadow-utilities), $shadow-utilities, ()));
$height-utilities: map_merge($height-utilities-default, if(variable-exists(height-utilities), $height-utilities, ()));
$width-utilities: map_merge($width-utilities-default, if(variable-exists(width-utilities), $width-utilities, ()));
$align-utilities: map_merge($align-utilities-default, if(variable-exists(align-utilities), $align-utilities, ()));
$visibility-utilities: map_merge($visibility-utilities-default, if(variable-exists(visibility-utilities), $visibility-utilities, ()));
$flex-utilities: map_merge($flex-utilities-default, if(variable-exists(flex-utilities), $flex-utilities, ()));
$flex-direction-utilities: map_merge($flex-direction-utilities-default, if(variable-exists(flex-direction-utilities), $flex-direction-utilities, ()));
$flex-grow-utilities: map_merge($flex-grow-utilities-default, if(variable-exists(flex-grow-utilities), $flex-grow-utilities, ()));
$flex-shrink-utilities: map_merge($flex-shrink-utilities-default, if(variable-exists(flex-shrink-utilities), $flex-shrink-utilities, ()));
$flex-wrap-utilities: map_merge($flex-wrap-utilities-default, if(variable-exists(flex-wrap-utilities), $flex-wrap-utilities, ()));
$justify-content-utilities: map_merge($justify-content-utilities-default, if(variable-exists(justify-content-utilities), $justify-content-utilities, ()));
$align-items-utilities: map_merge($align-items-utilities-default, if(variable-exists(align-items-utilities), $align-items-utilities, ()));
$align-content-utilities: map_merge($align-content-utilities-default, if(variable-exists(align-content-utilities), $align-content-utilities, ()));
$align-self-utilities: map_merge($align-self-utilities-default, if(variable-exists(align-self-utilities), $align-self-utilities, ()));
$margin-utilities: map_merge($margin-utilities-default, if(variable-exists(margin-utilities), $margin-utilities, ()));
$margin-x-utilities: map_merge($margin-x-utilities-default, if(variable-exists(margin-x-utilities), $margin-x-utilities, ()));
$margin-y-utilities: map_merge($margin-y-utilities-default, if(variable-exists(margin-y-utilities), $margin-y-utilities, ()));
$margin-top-utilities: map_merge($margin-top-utilities-default, if(variable-exists(margin-top-utilities), $margin-top-utilities, ()));
$margin-right-utilities: map_merge($margin-right-utilities-default, if(variable-exists(margin-right-utilities), $margin-right-utilities, ()));
$margin-bottom-utilities: map_merge($margin-bottom-utilities-default, if(variable-exists(margin-bottom-utilities), $margin-bottom-utilities, ()));
$margin-left-utilities: map_merge($margin-left-utilities-default, if(variable-exists(margin-left-utilities), $margin-left-utilities, ()));
$negative-margin-utilities: map_merge($negative-margin-utilities-default, if(variable-exists(negative-margin-utilities), $negative-margin-utilities, ()));
$negative-margin-x-utilities: map_merge($negative-margin-x-utilities-default, if(variable-exists(negative-margin-x-utilities), $negative-margin-x-utilities, ()));
$negative-margin-y-utilities: map_merge($negative-margin-y-utilities-default, if(variable-exists(negative-margin-y-utilities), $negative-margin-y-utilities, ()));
$negative-margin-top-utilities: map_merge($negative-margin-top-utilities-default, if(variable-exists(negative-margin-top-utilities), $negative-margin-top-utilities, ()));
$negative-margin-right-utilities: map_merge($negative-margin-right-utilities-default, if(variable-exists(negative-margin-right-utilities), $negative-margin-right-utilities, ()));
$negative-margin-bottom-utilities: map_merge($negative-margin-bottom-utilities-default, if(variable-exists(negative-margin-bottom-utilities), $negative-margin-bottom-utilities, ()));
$negative-margin-left-utilities: map_merge($negative-margin-left-utilities-default, if(variable-exists(negative-margin-left-utilities), $negative-margin-left-utilities, ()));
$padding-utilities: map_merge($padding-utilities-default, if(variable-exists(padding-utilities), $padding-utilities, ()));
$padding-x-utilities: map_merge($padding-x-utilities-default, if(variable-exists(padding-x-utilities), $padding-x-utilities, ()));
$padding-y-utilities: map_merge($padding-y-utilities-default, if(variable-exists(padding-y-utilities), $padding-y-utilities, ()));
$padding-top-utilities: map_merge($padding-top-utilities-default, if(variable-exists(padding-top-utilities), $padding-top-utilities, ()));
$padding-right-utilities: map_merge($padding-right-utilities-default, if(variable-exists(padding-right-utilities), $padding-right-utilities, ()));
$padding-bottom-utilities: map_merge($padding-bottom-utilities-default, if(variable-exists(padding-bottom-utilities), $padding-bottom-utilities, ()));
$padding-left-utilities: map_merge($padding-left-utilities-default, if(variable-exists(padding-left-utilities), $padding-left-utilities, ()));
$font-weight-utilities: map_merge($font-weight-utilities-default, if(variable-exists(font-weight-utilities), $font-weight-utilities, ()));
$text-transform-utilities: map_merge($text-transform-utilities-default, if(variable-exists(text-transform-utilities), $text-transform-utilities, ()));
$text-align-utilities: map_merge($text-align-utilities-default, if(variable-exists(text-align-utilities), $text-align-utilities, ()));
$color-utilities: map_merge($color-utilities-default, if(variable-exists(color-utilities), $color-utilities, ()));

$utilities: (
  $float-utilities,
  $display-utilities,
  $border-color-utilities,
  $order-utilities,
  $position-utilities,
  $overflow-utilities,
  $shadow-utilities,
  $height-utilities,
  $width-utilities,
  $align-utilities,
  $visibility-utilities,
  $flex-utilities,
  $flex-direction-utilities,
  $flex-grow-utilities,
  $flex-shrink-utilities,
  $flex-wrap-utilities,
  $justify-content-utilities,
  $align-items-utilities,
  $align-content-utilities,
  $align-self-utilities,
  $margin-utilities,
  $margin-x-utilities,
  $margin-y-utilities,
  $margin-top-utilities,
  $margin-right-utilities,
  $margin-bottom-utilities,
  $margin-left-utilities,
  $negative-margin-utilities,
  $negative-margin-x-utilities,
  $negative-margin-y-utilities,
  $negative-margin-top-utilities,
  $negative-margin-right-utilities,
  $negative-margin-bottom-utilities,
  $negative-margin-left-utilities,
  $padding-utilities,
  $padding-x-utilities,
  $padding-y-utilities,
  $padding-top-utilities,
  $padding-right-utilities,
  $padding-bottom-utilities,
  $padding-left-utilities,
  $font-weight-utilities,
  $text-transform-utilities,
  $text-align-utilities,
  $color-utilities,
);

// Loop over every breakpoint
@each $breakpoint in map-keys($grid-breakpoints) {
  // Generate media query if needed
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    // Loop over each utility property
    @each $utility in $utilities {

      // Only render if responsive media queries are enabled or if it's the base media query
      @if ((map_get($utility, responsive) or $infix == "") and map_get($utility, enabled) != false) {
        $values: map_get($utility, values);

        // If the values are a list or string, convert it into a map
        @if type_of($values) == "string" {
          $values: zip($values, $values);
        } @else if type_of(nth($values, 1)) != "list" {
          $values: zip($values, $values);
        }

        @each $value in $values {
          $properties: map_get($utility, property);


          @if type_of($properties) == "string" {
            $properties: append((), $properties);
          }

          @each $property in $properties {

            $property-class: map_get($utility, property-class);
            $property-class: if($property-class, $property-class, $property);

            // Don't prefix if value key is null (eg. with shadow class)
            $property-class-modifier: if(nth($value, 1), "-" + nth($value, 1), "");

            .#{$property-class + $infix + $property-class-modifier} {
              // stylelint-disable-next-line declaration-no-important
              #{$property}: #{nth($value, 2)} !important;
            }
          }
        }
      }
    }
  }
}


// Print utilities
@media print {
  @each $utility in $utilities {
    @if map_get($utility, print) == true {

      // Lot of duplicate code copied from above
      // TODO: cleanup
      $values: map_get($utility, values);

      @if type_of($values) == "string" {
        $values: zip($values, $values);
      } @else if type_of(nth($values, 1)) != "list" {
        $values: zip($values, $values);
      }

      @each $value in $values {
        $property: map_get($utility, property);
        $property-class: map_get($utility, property-class);
        $property-class: if($property-class, $property-class, $property);

        $property-class-modifier: if(nth($value, 1), "-" + nth($value, 1), "");

        .#{$property-class + '-print' + $property-class-modifier} {
          // stylelint-disable-next-line declaration-no-important
          #{$property}: #{nth($value, 2)} !important;
        }
      }
    }
  }
}
