// stylelint-disable declaration-no-important

//
// Text
//

.text-monospace { font-family: $font-family-monospace; }

// Alignment

.text-wrap     { white-space: normal !important; }
.text-nowrap   { white-space: nowrap !important; }

.text-truncate { @include text-truncate; }


// Contextual colors

@each $color, $value in $theme-colors {
  @include text-emphasis-variant(".text-#{$color}", $value);
}

// Misc

.text-hide {
  @include text-hide($ignore-warning: true);
}

.text-decoration-none { text-decoration: none !important; }

.text-break { word-break: break-word !important; }
